.input-panel {
  max-width: 40rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  button {
    margin: auto;
  }

  .loading {
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
